.titCart{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.titCart h3{
    text-align: center;
}

.navCart{
    z-index: 999999;
    overflow: hidden;
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 0 0;
    background-color: rgb(255, 255, 255);
}

.samsungCart{
    margin: -5rem 0 0 0;
    height: 20rem;
    width: 20rem;
}

.containerNoProductos{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    border-width: thin;
    margin: auto;
    width: 80%;
    height: 20rem;
}

.containerNoProductos p{
    font-size: 2.5rem;
    font-weight: bold;
}

.containerProduct{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid rgba(200, 200, 200, 0.692);
    border-width: thin;
    width: 80%;
    height: 9rem;
    margin: auto;
    overflow: hidden;
}

.containerProduct img{
    width: 14%;
}

.containerProduct .p{
    font-weight: bold;
    width: 5rem;
}

.containerProduct .nameCart{
    font-weight: bold;
    width: 35%;
}

.containerProduct .buttonProductCart{
    font-size: 0.8rem;
    background-color: rgba(245, 222, 179, 0);
    border: none;
}

.containerTotalVaciar{
    margin: 3rem 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.containerTotalVaciar p{
    font-size: 1.1rem;
    font-weight: bold;
}

.containerTotalVaciar .vaciarCart, .ButtonVolverATienda{
    height: 3rem;
    width: 14rem;
    margin: auto;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 4rem;
    background-color: rgb(234, 234, 234);
    font-weight: 600;
}

.ButtonVolverATienda{
    background-color: rgb(20, 20, 145);
}

.containerTotalVaciar .volverATienda{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 768px){
    .containerProduct{
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: solid rgba(200, 200, 200, 0.692);
        border-width: thin;
        width: 85%;
        height: 9rem;
        margin: auto;
        overflow: hidden;
    }
    
    .containerProduct img{
        width: 14%;
    }
    
    .containerProduct .p{
        font-weight: bold;
        width: 5rem;
        font-size: 0.7rem;
    }
    
    .containerProduct .nameCart{
        font-weight: bold;
        font-size: 0.7rem;
        width: 35%;
    }
    
    .containerProduct .buttonProductCart{
        font-size: 0.8rem;
        background-color: rgba(245, 222, 179, 0);
        border: none;
    }
}