.containerCheckOut{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 999999999;
    top: 0;
}

.containerForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    border: solid black;
    border-width: thin;
    height: 33rem;
    width: 32rem;
}

.containerForm h3{
    font-size: smaller;
    margin: -1.5rem 0.5rem;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 30rem;
    
}

.form label{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.form label p{
    text-align: start;
    width: 5rem;
    font-size: smaller;
}

.form label .cliente{
    width: 8rem;
    height: 2rem;
}

.form label .ing{
    font-size: smaller;
}

.form label .input{
    width: 17rem;
    height: 2rem;
}

.form .buttonForm{
    margin: auto;
    width: 12rem;
    height: 3rem;
    font-weight: bold;
    color: white;
    background-color: rgb(5, 5, 88);
    border-color: rgb(5, 5, 88);
    transition: 0.2s;
}

.form .buttonForm:hover{
    background-color: rgb(34, 34, 111);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.productoCheck{
    border: solid black;
    border-width: thin;
    height: 33rem;
    width: 32rem;
}



.productoChecker{
    overflow: scroll;
    overflow-x: hidden;
    height: 9rem;
}

.productoChecker::-webkit-scrollbar{
    width: 4px;
}

.productoChecker::-webkit-scrollbar-thumb{
    background-color: rgb(19, 40, 121);
    border-radius: 1px;
}

.productoChecker::-webkit-scrollbar-track{
    background-color: rgba(140, 140, 194, 0.66);
}

.productoChecker::-webkit-scrollbar-button{
    display: none;
}

.containerProduct1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid rgba(200, 200, 200, 0.692);
    border-width: thin;
    width: 100%;
    height: 9rem;
    margin: auto;
    overflow: hidden;
}

.containerProduct1 img{
    width: 20%;
}

.containerProduct1 .p1{
    font-weight: bold;
    font-size: 0.7rem;
    width: 1rem;
}

.containerProduct1 .nameCart1{
    font-weight: bold;
    font-size: 0.7rem;
    width: 35%;
}

.subtotal{
    display: flex;
    justify-content: space-between;
}

.subtotal p{
    font-size: 0.7rem;
}

.envio{
    display: flex;
    justify-content: space-between;
}

.envio p{
    font-size: 0.7rem;
}

.importe{
    display: flex;
    justify-content: space-around;
}

.importe h3{
    font-size: 0.7rem;
}

.containerRecibo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 4rem 0 4rem 0;
}

.datosRecibo{
    text-align: center;
    margin: auto;
    width: 60%;
    border: solid rgba(0, 0, 0, 0.24);
    border-width: thin;
}

.datosRecibo h3{
    margin-bottom: 2rem;
}

.containerProduct2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid rgba(200, 200, 200, 0.097);
    width: 100%;
    height: 9rem;
    margin: auto;
    overflow: hidden;
}

.containerProduct2 img{
    width: 20%;
}

.containerProduct2 .p1{
    font-weight: bold;
    font-size: 0.7rem;
    width: 1rem;
}

.containerProduct2 .nameCart1{
    font-weight: bold;
    font-size: 0.7rem;
    width: 35%;
}

.importe1{
    display: flex;
    justify-content: space-around;
    margin: 1rem 0 0 0;
}

.importe1 h3{
    font-size: 1.3rem;
}

.importe1 p strong{
    font-size: 1.3rem;
}

.inicioContainer{
    display: flex;
    justify-content: center;
}

.linkForm{
    text-decoration: none;
    border: solid rgba(0, 0, 255, 0);
    border-radius: 1rem;
    background-color: rgb(10, 10, 136);
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.5rem 4rem;
    transition: 0.2s;
}

.linkForm:hover{
    color: white;
    background-color: rgb(20, 20, 149);
}

@media screen and (max-width: 768px){
    .containerCheckOut{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 70rem;
        background-color: white;
        z-index: 999999999;
        top: 0;
    }
    .containerForm{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        border: solid black;
        border-width: thin;
        height: 30rem;
        width: 32rem;
        margin: 2rem 0 2rem 0;
    }
    
    .containerForm h3{
        font-size: smaller;
        margin: -1.5rem 0.5rem;
    }
    
    .form{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 30rem;
    }
    
    .form label{
        display: flex;
        align-items: center;
    }

    .form label .cliente{
        width: 8rem;
        height: 2rem;
    }
    
    .form label .ing{
        font-size: smaller;
    }
    
    .form label .input{
        width: 17rem;
        height: 2rem;
    }
    .productoCheck{
        border: solid black;
        border-width: thin;
        height: 32rem;
        width: 32rem;
    }
    .importe{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: -1rem 0 0 0;
    }
    
    .importe h3{
        font-size: 1rem;
    }
    
    .importe p strong{
        font-size: 1rem;
    }
    .importe1{
        display: flex;
        align-items: center;
    }
}